@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #eda12f;
  --color-primary-light: #f3bc69;
  --color-primary-darker: #c98316;

  --color-secondary: #1a1a1a;
  --color-secondary-light: #2a2a2a;
  --color-secondary-darker: #0f0f0f;

  --color-danger: #ef4444;
  --color-success: #22c55e;

  --font-sans: 'Inter', sans-serif;
}

@utility container {
  @apply mx-auto px-4;
}